# Azure Chat Backend - Local Environment Variables
# Example file for Docker environment variables

# Azure Cosmos DB Connection
COSMOS_ENDPOINT=<COSMOS_ENDPOINT>
COSMOS_KEY=<COSMOS_KEY>

# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=<AZURE_STORAGE_CONNECTION_STRING>

# App URLs
BACKEND_APP_URL=<BACKEND_APP_URL>
FRONTEND_APP_URL=<FRONTEND_APP_URL>
